*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}   
h1{
    margin-top: 10px;
    margin-bottom: 30px;
}
p { 
    border: 2px solid black;      
    background-color: gray;   
    width: 80%;     
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;  
    padding: 50px 10px 10px 10px;
    position: relative;
}

span{
    font-size:  125%;    
    border-width: 0px 0px 2px 2px;
    border-style: solid;
    border-color: black;
    width: 130px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}
.a{
    background-color: pink;
}
.b{
    background-color: #9D363F;
}
.c{
    background-color: #84BAF3;
}
.row{
    width: 100%;
}